header{
    background-color: rgb(250, 0, 0);
    font-size:40px;
    text-align: center;
    color:rgb(255, 255, 255)
}

.parte1{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 40px;
}


body{
    background-color: rgb(255, 255, 255);
    font-family:Bebas Neue;
    font-size:20px
}